.opcoes {
  display: flex;
}

.opcao {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
}
